<!-- <form (submit)="addRecipe()">
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" [(ngModel)]="newRecipe.name" name="name" required>
    </div>
    <div>
      <label for="description">Description:</label>
      <textarea id="description" [(ngModel)]="newRecipe.description" name="description" required></textarea>
    </div>
    <div>
      <label for="ingredients">Ingredients:</label>
      <textarea id="ingredients" [(ngModel)]="newRecipe.ingredients" name="ingredients" required></textarea>
    </div>
    <div>
      <label for="instructions">Instructions:</label>
      <textarea id="instructions" [(ngModel)]="newRecipe.instructions" name="instructions" required></textarea>
    </div>
    <div>
      <label for="author">Author:</label>
      <input type="text" id="author" [(ngModel)]="newRecipe.author" name="author" required>
    </div>
    <button type="submit">Add Recipe</button>
  </form>
   -->


   <form (submit)="addBooking()">
    <div>
      <label for="customerName">Customer Name:</label>
      <input type="text" id="customerName" [(ngModel)]="newBooking.customerName" name="customerName" required>
    </div>
    <div>
      <label for="bookingDate">Booking Date:</label>
      <input type="datetime-local" id="bookingDate" [(ngModel)]="newBooking.bookingDate" name="bookingDate" required>
    </div>
    <div>
      <label for="numberOfGuests">Number of Guests:</label>
      <input type="number" id="numberOfGuests" [(ngModel)]="newBooking.numberOfGuests" name="numberOfGuests" required>
    </div>
    <div>
      <label for="contactNumber">Contact Number:</label>
      <input type="tel" id="contactNumber" [(ngModel)]="newBooking.contactNumber" name="contactNumber" required>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="newBooking.email" name="email" required>
    </div>
    <div>
      <label for="specialRequests">Special Requests:</label>
      <textarea id="specialRequests" [(ngModel)]="newBooking.specialRequests" name="specialRequests"></textarea>
    </div>
    <button type="submit">Book Now</button>
</form>